{% extends 'base.html.twig' %}

{% block title %}Blocks Add{% endblock %}

{% block main %}
<h1>Blocks Add</h1>
{{ form_start(form) }}
    {{ form_row(form.parent) }}
    {{ form_row(form.name) }}
    <h2>Fields</h3>
    <ul class="fields" data-prototype="{{ form_widget(form.block_fields.vars.prototype)|e('html_attr') }}" >
      <li>
        {% set i = 0 %}
        {% for field in form.block_fields %}
        {% set i = i + 1 %}
          <div id="blocks_block_fields_{{ i }}">
            {{ form_row(field.field_order) }}
            {{ form_row(field.label) }}
            {{ form_row(field.name) }}
            {{ form_row(field.type) }}
          </div>
        {% endfor %}
      </li>
    </ul>
    <button type="submit">Create Block</button>
{{ form_end(form) }}
{% endblock %}

{% block javascripts %}
{{ parent() }}
{{ encore_entry_script_tags('blocks_add') }}
{% endblock %}