{% extends 'base.html.twig' %}

{% block title %}Block index{% endblock %}

{% block body %}
    <h1>Block index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Label</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for block in blocks %}
            <tr>
                <td>{{ block.id }}</td>
                <td>{{ block.label }}</td>
                <td>{{ block.description }}</td>
                <td>
                    <a href="{{ path('block.show', {'id': block.id}) }}">show</a>
                    <a href="{{ path('block.edit', {'id': block.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('block.new') }}">Create new</a>
{% endblock %}
